<!DOCTYPE html>
<html>
<head>
<title>Candidate Analysis</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}

.container {
  width: 80%;
  background-color: #ddd;
}
</style>
</head>
<body>

<h1>Candidate Analysis</h1>
<h4>Name : {{ analysis['name'] }}</h4>
<h4>EMail ID : {{ analysis['email_id'] }}</h4>
<h4>GitHub ID : {{ analysis['github_username'] }}</h4>
<h4>Phone Number : {{ analysis['phone_number'] }}</h4>

{% for lang in analysis["language_scores"] %}
  <p>{{ lang['language'] }}</p>
  <div class="container">
    <div style="text-align: right; padding-top: 10px; padding-bottom: 10px; color: white; width: {{ lang['score'] }}%; background-color: #4CAF50;">{{ lang['score'] }}%</div>
  </div>  
{% endfor %}

</body>
</html>