<!DOCTYPE html>
<html>
<head>
	<title>Retrieve</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h3>Job Search</h3>
		<form method="post">
		    <div class="form-group">
		      <label>Language</label>
		      <input type="text" class="form-control" id="language" placeholder="Enter language" name="language"><br>
		      <label>description</label>
		      <input type="text" class="form-control" id="description" placeholder="Enter description" name="description"><br>
		      <label>Date & Time</label>
		      <input type="datetime-local" id="date_time" placeholder="Enter Date and Time" name="date_time"><br>
		    </div>
		    <br>
	    	<button type="submit" class="btn btn-default">Send Invites</button>
	  </form>
	</div>
</body>
</html>